/Lista3/Lista3/nbproject/private/
/Lista4/Lista4/nbproject/private/
/Lista3/Lista3/build/
/Lista5/Lista5/nbproject/private/
/Lista5/Lista5/build/
/Lista6/nbproject/private/
/Lista6/Lista6/build/
/Lista7/Lista7/nbproject/private/
/Lista7/Lista7/build/